body {
  font-family: 'PT Sans';
  background-color: #FCFFF5; /*off white*/
  color: #193441; /*dk blue gray green*/
  margin: 0;
}
header {
  font-family: 'Quicksand';
  color: white;
  background-color: #3E606F; /*blue gray*/
  padding: 2em .5em;
  font-size: 1.5em;
  text-align: center;
}
p {
  line-height: 1.8;
}
h1, h2, h3 {
  font-family: 'Quicksand';
}

nav {
  margin-top: .25em;
  padding: .5em;
  background-color: #193441;
  color: white;
  font-family: sans-serif;
}
nav p a {
  color: white;
  margin: 1em;
  text-decoration: none;
}
nav p a:hover {
  color:#3E606F; /*blue gray*/;
}

main {
  padding: 1em;
}

.donut-card, .donut-form {
  color:white;
  background-color: #3E606F;
  padding: 1em;
  margin: .5em;
}
.donut-form, .donut-menu{
  float: left;
}
ul.donut-menu{
  margin-top: 0;
}
.donut-card li,
.donut-menu li {
  list-style-type: none;
}


