body {
  font-family: 'PT Sans';
  background-color: #FCFFF5; /*off white*/
  color: #193441; /*dk blue gray green*/
  margin: 0;
}
header {
  width: 40em;
  margin: 0 auto 1em auto;
  font-family: 'Quicksand';
  color: white;
  background-color: #3E606F; /*blue gray*/
  padding: 2em .5em;
  font-size: 1.5em;
  text-align: center;
}
p {
  line-height: 1.8;
}
h1, h2, h3 {
  font-family: 'Quicksand';

}
.donut-card, .donut-form {
  background-color: gray;
  padding: 1em;
  margin: .5em;
}

.donut-form, .donut-menu{
  float: left;
}

ul.donut-menu{
  margin-top: 0;
  }
.donut-card li,
.donut-menu li {
  list-style-type: none;
}


.container {
  width: 60em;
  margin: 1em auto;
  overflow: hidden;
}
.navbar {
  width: 60em;
  margin: 1em auto;
  padding:.5em;
  background-color: #193441;
  color: white;
  font-family: sans-serif;
}
.navbar p a {
  color: white;
  margin: 1em;
  text-decoration: none;
}
.navbar p a:hover {
  color:#3E606F; /*blue gray*/;
}


footer {
  width: 60em;
  margin: 3em auto;
  border-top: 1px dotted #ccc;
  padding-top: .25em;
  font-size: .7em;
  text-align: center;
}

