/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*My styles */
body {
  font-family: 'PT Sans';
  font-weight: normal;
  background-color: #FCFFF5;
  /*off white*/
  color: #193441;
  /*dk blue gray green*/
  margin: 0; }

header {
  font-family: 'Quicksand';
  color: white;
  background-color: #3E606F;
  /*blue gray*/
  padding: 2em 0.5em;
  /*font-size: 1.5em;*/
  text-align: center; }

h1, h2, h3 {
  font-family: 'Quicksand';
  font-weight: bold; }

h1 {
  font-size: 1.75em;
  line-height: 2.25em; }

h2 {
  font-size: 1.25em;
  line-height: 1.75em; }

h3 {
  line-height: 1.5em; }

nav {
  margin-top: .25em;
  padding: .5em;
  background-color: #193441;
  color: white;
  font-family: sans-serif; }

nav p a {
  color: white;
  margin: 1em;
  text-decoration: none; }

nav p a:hover {
  color: #3E606F;
  /*blue gray*/ }

main {
  padding: 1em; }

p {
  line-height: 1.25em; }

.donut-card, .donut-form {
  color: white;
  background-color: #3E606F;
  padding: 1em;
  margin: .5em; }

.donut-card {
  width: 25%; }

.donut-form {
  width: 50%; }

.donut-card button {
  margin-top: 1em; }

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.update-donut input,
.new-donut input {
  display: block;
  margin-top: 1em;
  line-height: 1.25em; }

.update-form {
  margin-top: 1.5em; }

.description-entry {
  width: 100%;
  height: 5em; }
